<template name = "PageTitle">
    <div class="page-title">
        <h2>
            {{#if Router_getCurrentRoute "nested"}}
                <span class="history-back fa fa-arrow-circle-o-left" style = "text-decoration:none; cursor:pointer"></span>
            {{/if}}
            {{Dict (Router_getCurrentRoute "title")}}
        </h2>
    </div>
</template>
