<head>

  <title>DBS</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/style/flaticon.css">
</head>

<body>
    {{ > UserDashboardSettings_WidgetSelector}}
</body>
