<template name = "FormsInputTextarea">
    <div class="form-group">
        <label class="col-md-3 col-xs-12 control-label">{{options.title}}</label>
        <div class="col-md-6 col-xs-12">
            <textarea class="form-control Textarea" name = "{{name}}" rows="5"></textarea>
            <span class="help-block">{{options.help_block}}</span>
        </div>
    </div>
</template>
