<template name = "Exchange">
    <div class = "row exchangeBody">

        <div class="row exchangeResults">
            {{#each currency in currencies}}
                <div class = "row exchangeResultView">
                    {{> Template.dynamic template = "FormsInputBasic" data = (getDB 0 currency)}}
                </div>
            {{/each}}
        </div>

    </div>
</template>
