<template name = "MiniMoneyTransferComponent">
    <form class = "MiniMoneyTransferComponent">
        <div class = "row">

            <div class = "row miniMoneyTransfer mini_from">
                {{> Template.dynamic template = "FormsInputSelect" data = (getDB 0)}}
            </div>

            <div class = "row miniMoneyTransfer mini_to">
                {{> Template.dynamic template = "FormsInputBasic" data = (getDB 1)}}
            </div>

            <div class = "row miniMoneyTransfer mini_transferAmount">
                {{> Template.dynamic template = "FormsInputBasic" data = (getDB 2)}}
            </div>

        </div>
        {{>ResetForm value = "Reject"}}
        {{>SubmitForm value = "Send"}}
    </form>
</template>
