<template name = "UserDashboardSettings_WidgetSelector">
    {{#if AppState_get "Dashboard.edit"}}
        <div class = "theme-settings">
            <div class="ts-button">
                <span class="fa fa-cog"></span>
            </div>
            <div class="ts-body">
                <div class="ts-title">Widgets</div>
                {{#each widget in availableWidgets}}
                    <div class="ts-row">
                        <label class="check">
                            {{#if (isPresent widget)}}
                                <input type="checkbox" class="toggle-dashboard-widget" value="{{widget}}" checked />
                            {{else}}
                                <input type="checkbox" class="toggle-dashboard-widget" value="{{widget}}"/>
                            {{/if}}

                            {{widget}}
                        </label>
                    </div>
                    <!-- <div id="ts-wallpapers">
                    <div class="ts-title">Wallpapers</div>
                        <div class="ts-themes">
                            <a href="#" class="active" data-wall="wall_1"><img src="img/backgrounds/wall_1.jpg"/></a>
                            <a href="#" data-wall="wall_2"><img src="img/backgrounds/wall_2.jpg"/></a>
                            <a href="#" data-wall="wall_3"><img src="img/backgrounds/wall_3.jpg"/></a>
                            <a href="#" data-wall="wall_4"><img src="img/backgrounds/wall_4.jpg"/></a>
                            <a href="#" data-wall="wall_5"><img src="img/backgrounds/wall_5.jpg"/></a>

                            <a href="#" data-wall="wall_6"><img src="img/backgrounds/wall_6.jpg"/></a>
                            <a href="#" data-wall="wall_7"><img src="img/backgrounds/wall_7.jpg"/></a>
                            <a href="#" data-wall="wall_8"><img src="img/backgrounds/wall_8.jpg"/></a>
                            <a href="#" data-wall="wall_9"><img src="img/backgrounds/wall_9.jpg"/></a>
                            <a href="#" data-wall="wall_10"><img src="img/backgrounds/wall_10.jpg"/></a>
                        </div>
                    </div> -->
                {{/each}}
            </div>
        </div>
    {{/if}}
</template>
