<template name = "Loans">
    <div class = "row">
        {{#each row in (Container_getWidgets 'loans')}}
            {{#each widget in row}}
                {{ > Template.dynamic template = 'Wrapper' data = widget}}
            {{/each}}
        {{/each}}
    </div>
</template>
