    /*
    Flaticon icon font: Flaticon
    Creation date: 11/07/2017 08:47
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-money-4:before { content: "\f100"; }
.flaticon-002-diamond:before { content: "\f101"; }
.flaticon-003-travel:before { content: "\f102"; }
.flaticon-004-transfer-money:before { content: "\f103"; }
.flaticon-005-bank-8:before { content: "\f104"; }
.flaticon-006-security:before { content: "\f105"; }
.flaticon-007-deposit-box:before { content: "\f106"; }
.flaticon-008-atm-4:before { content: "\f107"; }
.flaticon-009-bank-7:before { content: "\f108"; }
.flaticon-010-money-3:before { content: "\f109"; }
.flaticon-011-bank-account:before { content: "\f10a"; }
.flaticon-012-money-2:before { content: "\f10b"; }
.flaticon-013-mobile-phone:before { content: "\f10c"; }
.flaticon-014-bank-6:before { content: "\f10d"; }
.flaticon-015-money-1:before { content: "\f10e"; }
.flaticon-016-atm-3:before { content: "\f10f"; }
.flaticon-017-bank-5:before { content: "\f110"; }
.flaticon-018-atm-2:before { content: "\f111"; }
.flaticon-019-money:before { content: "\f112"; }
.flaticon-020-customer-service:before { content: "\f113"; }
.flaticon-021-currency-exchange:before { content: "\f114"; }
.flaticon-022-bank-4:before { content: "\f115"; }
.flaticon-023-bank-3:before { content: "\f116"; }
.flaticon-024-atm-1:before { content: "\f117"; }
.flaticon-025-truck:before { content: "\f118"; }
.flaticon-026-bank-check-2:before { content: "\f119"; }
.flaticon-027-bank-check-1:before { content: "\f11a"; }
.flaticon-028-bank-2:before { content: "\f11b"; }
.flaticon-029-bank-online:before { content: "\f11c"; }
.flaticon-030-bank-1:before { content: "\f11d"; }
.flaticon-031-bank:before { content: "\f11e"; }
.flaticon-032-bank-check:before { content: "\f11f"; }
.flaticon-033-credit-card:before { content: "\f120"; }
.flaticon-034-atm:before { content: "\f121"; }
.flaticon-035-graph:before { content: "\f122"; }
.flaticon-036-balance:before { content: "\f123"; }
    
    $font-Flaticon-001-money-4: "\f100";
    $font-Flaticon-002-diamond: "\f101";
    $font-Flaticon-003-travel: "\f102";
    $font-Flaticon-004-transfer-money: "\f103";
    $font-Flaticon-005-bank-8: "\f104";
    $font-Flaticon-006-security: "\f105";
    $font-Flaticon-007-deposit-box: "\f106";
    $font-Flaticon-008-atm-4: "\f107";
    $font-Flaticon-009-bank-7: "\f108";
    $font-Flaticon-010-money-3: "\f109";
    $font-Flaticon-011-bank-account: "\f10a";
    $font-Flaticon-012-money-2: "\f10b";
    $font-Flaticon-013-mobile-phone: "\f10c";
    $font-Flaticon-014-bank-6: "\f10d";
    $font-Flaticon-015-money-1: "\f10e";
    $font-Flaticon-016-atm-3: "\f10f";
    $font-Flaticon-017-bank-5: "\f110";
    $font-Flaticon-018-atm-2: "\f111";
    $font-Flaticon-019-money: "\f112";
    $font-Flaticon-020-customer-service: "\f113";
    $font-Flaticon-021-currency-exchange: "\f114";
    $font-Flaticon-022-bank-4: "\f115";
    $font-Flaticon-023-bank-3: "\f116";
    $font-Flaticon-024-atm-1: "\f117";
    $font-Flaticon-025-truck: "\f118";
    $font-Flaticon-026-bank-check-2: "\f119";
    $font-Flaticon-027-bank-check-1: "\f11a";
    $font-Flaticon-028-bank-2: "\f11b";
    $font-Flaticon-029-bank-online: "\f11c";
    $font-Flaticon-030-bank-1: "\f11d";
    $font-Flaticon-031-bank: "\f11e";
    $font-Flaticon-032-bank-check: "\f11f";
    $font-Flaticon-033-credit-card: "\f120";
    $font-Flaticon-034-atm: "\f121";
    $font-Flaticon-035-graph: "\f122";
    $font-Flaticon-036-balance: "\f123";