<template name = "Cards">
    {{#each row in (Container_getWidgets 'cards')}}
        <div class = "row">
            {{#each widget in row}}
                {{ > Template.dynamic template = 'Wrapper' data = widget}}
            {{/each}}
        </div>
    {{/each}}
</template>
