<template name = "ResponsiveTable">
  <div class="table-responsive">
      <table class="table table-bordered table-striped table-actions">
          <thead>
              <tr>
                  {{#each titleInfo}}
                  <th >{{title}}</th>
                  {{/each}}
              </tr>
          </thead>
          <tbody>
              {{#each doc in columns}}
              <tr >
                {{#each col in getTitle}}

                    <td>{{#if isDataCol col}}
                            {{getProp doc col}}
                        {{else}}
                            {{>Template.dynamic template=col.value data = col.options}}
                        {{/if}}
                    </td>
                {{/each}}
            </tr>
              {{/each}}

          </tbody>
      </table>
  </div>

  <div class="message-box animated fadeIn" data-sound="alert" id="mb-remove-row">
      <div class="mb-container">
          <div class="mb-middle">
              <div class="mb-title"><span class="fa fa-times"></span> Remove <strong>Data</strong> ?</div>
              <div class="mb-content">
                  <p>Are you sure you want to remove this row?</p>
                  <p>Press Yes if you sure.</p>
              </div>
              <div class="mb-footer">
                  <div class="pull-right">
                      <button class="btn btn-success btn-lg mb-control-yes">Yes</button>
                      <button class="btn btn-default btn-lg mb-control-close">No</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>
