<template name = "FormsInputSelect">
    <div class="form-group">
        {{#if options.titleMode}}
            <label class="col-md-3 col-xs-12 control-label">{{options.title}}</label>
        {{/if}}
        <div class="col-md-{{getColMd}} col-xs-12">
            <select name = "{{name}}" class="form-control select Select {{options.class}}">
                {{#each option in options.optionsList}}
                    <option value = "{{option}}">{{option}}</option>
                {{/each}}
            </select>

            {{refresh}}

            {{#if help_blockMode}}
                <span class="help-block">{{options.help_block}}</span>
            {{/if}}
        </div>
    </div>
</template>
