<template name = "changePassword">
    <div class="login-container">
        <div class="login-box animated fadeInDown">
            <form class="changeOk">
                <div class="login-logo"></div>
                <div class="login-body">
                    <div class="login-title">Change password</div>
                    <div class="form-horizontal" >
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="password" class="form-control" id="newPassword" placeholder="New password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="password" class="form-control" id="repeatNewPassword" placeholder="Repeat new password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                {{> reCAPTCHA}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                {{#if isFirstTime}}
                                <button class="btn btn-info btn-block cancel"><a href="#" class="btn-link ">Cancel</a></button>
                                {{/if}}
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-info btn-block" id="input">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="login-footer">
                <div class="pull-left">
                    &copy; DBS
                </div>
                <!-- <div class="pull-right">
                    <a href="#">About</a> |
                    <a href="#">Privacy</a> |
                    <a href="#">Contact Us</a>
                </div> -->
            </div>
        </div>
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-error">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><strong>Information</strong></div>
                    <div class="mb-content">
                        <p>You changed your password.</p>
                        <p>Press Ok to continue.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <button class="btn btn-default btn-lg mb-control-close">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
