
<template name = "LoansInfo">
    <div class="col-md-8 col-xs-12">
        {{ > Template.dynamic template = "DataTable" data = (Widget_getComponent "LoansTable") }}
        {{ > Template.dynamic template = "Pagination" data =  (Widget_getComponent "LoansTablePagination")}}
    </div>
    <div class="col-md-4">
        {{ > Template.dynamic template = "InfoTable" data =  (Widget_getComponent "LoansInfoTable")}}
    </div>
</template>
