<template name="GeneralInformation">
    <div class="col-md-12">
        <p>Full Name: {{userName}}</p>
        <p>Client ID: {{clientID}}</p>
    </div>
    <div class="col-md-4">
        <button class="btn btn-default" id="changePasword">Change Password</button>
    </div>
</template>
