<template name = "Pagination">
    <ul class="pagination pagination-{{size}}">
        <li class = "pagination-fb"><a href="#">
            &laquo;
            <!-- <span class = "fa fa-fast-backward" aria-hidden = "true"></span> -->
        </a></li>

        <li class = "pagination-pr"><a href="#">&lt;</a></li>

        {{#each option in (sliced options)}}
            <li class = "{{#if active option}} active {{/if}} pagination-index" data-index = {{option}}>
                <a href="#" data-index = {{option}}>{{correct option}}</a>
            </li>
            {{MainLayout_loaded}}
        {{/each}}

        <li class = "pagination-fw"><a href="#">&gt;</a></li>

        <li class = "pagination-ff"><a href="#">
            &raquo;
            <!-- <span class = "fa fa-fast-forward" aria-hidden = "true"></span> -->
        </a></li>
    </ul>

    {{MainLayout_loaded}}
</template>
