<template name = "InfoTable">
    {{#if Menu}}
        <div class="panel panel-default InfoTable">
            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="btn btn-primary col-xs-12 operationsSelected accountsInfo">
                        {{caption}} Information
                    </div>
                    <div class="btn btn-primary col-xs-12 operationsSelected operations">
                        Operations
                    </div>
                </div>
                <div class="col-xs-11 items">
                    {{#if haveOperation}}
                        {{#each items}}
                            <a href="{{href}}" class="list-group-item">{{title}}</a>
                        {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>
    {{else}}
        <div class="panel panel-default InfoTable">
            <div class="panel-body">
                {{#if active}}
                    <div class="btn btn-primary col-xs-12 accountsInfo">
                        {{caption}} Information
                    </div>
                    <div class="InfoView">
                        {{#each data}}
                            <div class="offset-xs-1 col-xs-10 infoViewRow">
                                <div class="col-xs-6">
                                    {{title}}
                                </div>
                                <div class="col-xs-6 infoViewValue">
                                    {{Utils_untemplateString value}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    <div class="btn btn-primary col-xs-12 operations">
                        Operations
                    </div>
                {{else}}
                    <div class="btn btn-primary col-xs-12">
                        Total Information
                    </div>
                    {{#each TotalSetting}}
                        <div class="col-xs-12 infoViewRow">
                            <div class="InfoTableLeft col-xs-6">
                                {{title}}:
                            </div>
                            <div class="InfoTableRigth col-xs-6 infoViewValue">
                                {{value}}
                            </div>
                        </div>
                    {{/each}}
                {{/if}}
            </div>
        </div>
    {{/if}}
</template>
