.InfoTable{
    font-size: 110%;
    height: 356px;
}

.operations{
    position: relative;
    right: 0.8%; bottom: 0; /* Левый нижний угол */
    margin-top: 1%;
}

.InfoView{
     height:280px;
     position: relative;
}

.items{
    left: 4%;
}

.operationsSelected{
    min-width: 108%;
    left: -16px;
}

.infoViewValue{
    text-align: right;
    font-weight: bold;
}

.infoViewRow{
    top: 10px;
    margin: 2% 0;
}
