<template name = "LoanRepayment">
    <form class = "LoanForm">
        <div class = "row repaymentBody">
            <div class = "row loanRepayment RepaymentSource">
                {{>Template.dynamic template = "FormsInputSelect" data = (getDB 0)}}
            </div>

            <div class = "row loanRepayment LoanCode">
                {{>Template.dynamic template = "FormsInputBasic" data = (getDB 1)}}
            </div>

            <div class = "row loanRepayment Repayment">
                {{>Template.dynamic template = "FormsInputSelect" data = (getDB 2)}}
            </div>

            <div class = "row loanRepayment RepaymentValue">
                {{>Template.dynamic template = "FormsInputBasic" data = (getDB 3)}}
            </div>

            <div class = "row loanRepayment Description">
                {{>Template.dynamic template = "FormsInputBasic" data = (getDB 4)}}
            </div>

        </div>

        <div class = "row repaymentFoot">
            {{>ResetForm value = "Reject"}}
            {{>SubmitForm value = "Pay"}}
        </div>
    </form>
</template>
