<template name = "SingleRangeSlider">
    <div class="form-group">
        <label class="control-label col-md-2">{{options.name}}</label>
        <div class="col-md-10">
            <div class="{{options.class}}" data-min="{{options.data_min}}" data-max="{{options.data_max}}"></div>
        </div>
    </div>
</template>
