<template name = "SingleIonRangeSlider">
    <div class="form-group">
        <label class="control-label col-md-2">{{options.name}}</label>
        <div class="col-md-10">
            <p>{{options.description}}</p>
            <input type="text" class="{{options.ClassAndName}}" name="{{options.ClassAndName}}" value="" />
        </div>
    </div>
</template>
