<template name = "MessageBox">
    <!-- <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging"> -->
        <!-- <div class="panel-heading">
            <h3 class="panel-title"><span class="fa fa-comments"></span> Messages</h3>
            <div class="pull-right">
                <span class="label label-danger">4 new</span>
            </div>
        </div> -->
        <div class="panel-body list-group list-group-contacts scroll">
            {{>MessageBoxSingleMessage
                status = 'online'
                sender = 'John Doe'
                message = 'Praesent placerat tellus id augue condimentum'
            }}
            {{>MessageBoxSingleMessage
                status = 'away'
                sender = 'Dmitry Ivaniuk'
                message = 'Donec risus sapien, sagittis et magna quis'
            }}
            {{>MessageBoxSingleMessage
                status = 'away'
                sender = 'Nadia Ali'
                message = 'Mauris vel eros ut nunc rhoncus cursus sed'
            }}
            {{>MessageBoxSingleMessage
                status = 'offline'
                sender = 'Darth Vader'
                message = 'I want my money back!'
            }}
        </div>
        <!-- <div class="panel-footer text-center">
            <a href="test2">Show all messages</a>
        </div> -->
    <!-- </div> -->
</template>
