<template name = "SingleMessage">
    <div class="{{class}}">
        <div class="image">
            <img src="{{img_src}}" alt="{{sender}}">
        </div>
        <div class="text">
            <div class="heading">
                <a href="#">{{sender}}</a>
                <span class="date">{{date}}</span>
            </div>
            {{message}}
        </div>
    </div>
</template>
