<template name = "KnobSliders">
  <div class="panel panel-default">
      <div class="panel-body">
          <h3><strong>Knob</strong> Slider</h3>
          <div class="row">

              {{#each slider in KnobSlidersRow1}}
                {{>Template.dynamic template = "SingleKnobSlider" data = slider}}
              {{/each}}

          </div>

          <div class="row">

              {{#each slider in KnobSlidersRow2}}
                {{>Template.dynamic template = "SingleKnobSlider" data = slider}}
              {{/each}}

          </div>

      </div>
  </div>
</template>
