<template name = "NavigationVertical">
    <ul class="x-navigation x-navigation-horizontal x-navigation-panel" style = "z-index: 10000;">
       <!-- TOGGLE NAVIGATION -->
       <li class="xn-icon-button">
           <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
       </li>

       <li class="xn-icon-button pull-right last logout">
           <a href="#"><span class="fa fa-sign-out" aria-hidden="true"></span></a>
       </li>

       <li class="xn-icon-button pull-right last toggle-dashboard-settings">
           {{#if Router_isCurrentRoute "dashboard"}}
               <a href="#"><span class="fa fa-cog" aria-hidden="true"></span></a>
           {{/if}}
       </li>

       <li class="xn-icon-button pull-right lang-switcher">
           <a href="#" class = "lang-switcher">
               <!-- <span class="flag-icon flag-icon-{{getCurrentLang}}"></span> -->
               <img src = "/img/blank.gif" class = "flag flag-{{getCurrentLang}}" />
           </a>
           <ul class="xn-drop-left xn-drop-white animated zoomIn">
               <li>
                   <a href = "#" class = "lang-switcher-option" data-lang = "EN">
                       <!-- <span class="flag-icon flag-icon-gb"></span> -->
                       <img src = "/img/blank.gif" class = "flag flag-gb" />
                       English
                   </a>
               </li>

               <li>
                   <a href = "#" class = "lang-switcher-option" data-lang = "RU">
                       <!-- <span class="flag-icon flag-icon-ru"></span> -->
                       <img src = "/img/blank.gif" class = "flag flag-ru" />
                       Русский
                   </a>
               </li>

               <li>
                   <a href = "#" class = "lang-switcher-option" data-lang = "AZ">
                       <!-- <span class="flag-icon flag-icon-az"></span> -->
                       <img src = "/img/blank.gif" class = "flag flag-az" />
                       Azərbaycan
                   </a>
               </li>

               <!-- <li><a href="#"><span class="flag flag-gb"></span> English</a></li>
               <li><a href="#"><span class="flag flag-de"></span> Deutsch</a></li>
               <li><a href="#"><span class="flag flag-cn"></span> Chinese</a></li> -->
           </ul>
       </li>
       <!-- END TOGGLE NAVIGATION -->
    </ul>
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                <div class="mb-content">
                    <p>Are you sure you want to log out?</p>
                    <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <a href="login" class="btn btn-success btn-lg" id = "YesBtn">Yes</a>
                        <button class="btn btn-default btn-lg mb-control-close" id = "NoBtn">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
