.table_head{
    position: relative;
}

.cal-prevYear, .cal-nextYear, .cal-nextMon, .cal-prevMon{
    background: white;
    border: none;
}

div.cal-day {
    margin-top: 10%;
    width: 48px;
    height: 48px;
    padding-top: 4.5%;
    padding-right: 5.4%;
    text-align: center;
    /*border: 1px solid #f5f5f5;*/
    border-radius: 32px;
}

.cal-today {
    position: relative;
    border: 1px solid #00aeff !important;
    border-radius: 32px;
    margin-top: 1.5%;
}

.cal-thisDay {
    position: relative;
    /*border: 1px solid red !important;*/
    background: #00aeff;
    border-radius: 32px;
    margin-top: 1.5%;
}

.month_day{
    position: relative;
    /*top: -11%;*/
    bottom: 0;
    left: 8%;
}

.week_days, .header{
    padding-left: 2%;
}

#calendar{
    font-size: 140%;
    /*background: gainsboro;*/
}

#calendar a{
    vertical-align: -moz-middle-with-baseline;
    vertical-align: -webkit-baseline-middle;
    color: black;
    text-decoration: none;
}

.day_event{
    position: relative;
    font-size: 32%;
    bottom: 45%;
}

.day_event.red{
    color: red;
}

.day_event.green{
    color: green;
}

.day_event.blue{
    color: blue;
}
