<template name = "Calendar">
    <div id = "calendar">
        <div class = "row">
            <div class = "col-md-12">
                <div class = "col-xs-12">
                    <table style = "width: 100%">
                        <tr>
                            <th></th>
                            <th colspan = "4" class="week_days">
                                {{month.name}}
                            </th>
                            <th class="header" colspan = "3">
                                <div class="year">
                                    <button class = "cal-prevYear">
                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                    </button>
                                    {{year}}
                                    <button class = "cal-nextYear">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </th>
                            <th></th>
                        </tr>

                        <tr>
                            <th>
                                <button class = "cal-prevMon">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                </button>
                            </th>

                            {{#each day in days}}
                                <th class="week_days">
                                    <span class = "week_day">{{day.short}}</span>
                                </th>
                            {{/each}}
                            <th>
                                <button class = "cal-nextMon">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </button>
                            </th>
                        </tr>

                        {{#each week in weeks}}
                            <tr>
                                <td></td>
                                {{#each day in week}}
                                    <td>
                                        <div class = "cal-day {{thisDay day 'cal-thisDay'}} {{today day 'cal-today'}}">
                                            <a href = "#"
                                                class = "cal-day {{thisMonth day 'cal-thisMonth' 'cal-notThisMonth'}}"
                                                data-number = {{day.number}}
                                                data-month  = {{day.month}}
                                                data-year   = {{day.year}}
                                            >
                                                <span class = "month_day">{{day.number}}</span>
                                                <br>

                                                {{#each eventType in (eventsTypes day)}}
                                                    <i class="fa fa-circle day_event {{eventType.color}}" aria-hidden="true"></i>
                                                {{/each}}
                                                <!-- <i class="fa fa-circle day_event green" aria-hidden="true"></i>
                                                <i class="fa fa-circle day_event blue" aria-hidden="true"></i> -->
                                            </a>
                                        </div>
                                    </td>
                                {{/each}}
                                <td></td>
                            </tr>
                        {{/each}}
                    </table>
                </div>
            </div>

            <div class = "col-md-12">
                    <div class="panel-body list-group scroll" style="height: 200px;">
                        {{ > Template.dynamic template = "Pagination" data = paginationOptions }}

                        {{#each event in events}}
                            <a class="list-group-item" href="#" style = "border-bottom: 1px solid #ddd !important;">
                                <strong>
                                    {{event.title}}
                                </strong>

                                <!-- <div class="progress progress-small">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">100%</div>
                                </div> -->

                                <small class="text-muted">{{localeTime event.date}}</small><small class="text-success"></small>
                            </a>
                        {{/each}}
                    </div>
            </div>
        </div>
    </div>
</template>
