<template name = "AccountsInfo">
    <div class="col-md-8 col-xs-12">
        {{ > Template.dynamic template = "DataTable" data = (Widget_getComponent "AccountTable") }}
        {{ > Template.dynamic template = "Pagination" data =  (Widget_getComponent "AccountTablePagination")}}
    </div>
    <div class="col-md-4 col-xs-0">
        {{ > Template.dynamic template = "InfoTable" data =  (Widget_getComponent "AccountsInfoTable")}}
    </div>
</template>
