<template name = "Charts">
    <div class="page-container">
        <div class="page-sidebar">
            <div class="page-content">
                <div class="page-content-wrap">
                    <div class="row">
                        <div class="col-md-6">
                            {{>DonutChart}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
