<template name = "Deposits">

    <div class="col-md-8 col-xs-12">
        {{ > Template.dynamic template = "DataTable" data =  (Widget_getComponent "DepositsTable")}}
        {{ > Template.dynamic template = "Pagination" data =  (Widget_getComponent "DepositsTablePagination")}}
    </div>
    <div class="col-md-4">
        {{ > Template.dynamic template = "InfoTable" data =  (Widget_getComponent "DepositsInfoTable")}}
    </div>
</template>
