<template name = "IonRangeSliders">
  <div class="panel panel-default">
      <div class="panel-body">
          <h3><strong>Ion</strong> Range Slider</h3>
          <p>Beautiful, comfortable and easily customizable range slider with skins support. Also support events and public methods, has flexible settings and can be completely modified with CSS.</p>
          <div class="row">
              <div class="col-md-12">
                  <form role="form" class="form-horizontal">

                      {{#each slider in IonRangeSliders}}
                        {{>Template.dynamic template = "SingleIonRangeSlider" data = slider}}
                      {{/each}}

                  </form>
              </div>
          </div>
      </div>
  </div>
</template>
