<template name = "MessageBoxSingleMessage">
    <a href="#" class="list-group-item">
        <div class="list-group-status status-{{status}}"></div>
        <img src="users/avatar.jpg" class="pull-left" alt="{{sender}}"/>
        <span class="contacts-title">{{sender}}</span>
        <p>{{message}}</p>
    </a>
</template>
