<template name = "FormsInputDatepicker">
    <div class="form-group">
        <label class="col-md-3 col-xs-12 control-label">{{options.title}}</label>
        <div class="col-md-4 col-xs-12">
            <div class="input-group">
                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                <input type="text" class="form-control datepicker Datepicker" name = "{{name}}" >
            </div>
            <span class="help-block">{{options.help_block}}</span>
        </div>
    </div>
</template>
