<template name = "SingleContact">
    <a href="#" class="list-group-item {{add_class}}">
        <div class="list-group-status status-{{status}}"></div>
        <img src="users/avatar.jpg" class="pull-left" alt="{{sender}}">
        <span class="contacts-title">{{sender}}</span>
        <p>{{message}}</p>
    </a>
</template>
