<template name = "MoneyTransferComponent">
    <div class="row moneyTransferBody">
        <div class="col-xs-1 moneyTransferLeftSide">
            <button class = "from_to_btn"><i class="fa fa-refresh fa-lg" aria-hidden="true"></i></button>
        </div>
        <div class="col-xs-11">
            <form class = "MoneyTransfer">
                <div class = "row">

                    <div class = "row moneyTransfer transferType">
                        {{> Template.dynamic template = "FormsInputSelect" data = (getDB 0)}}
                    </div>

                    <div class = "row moneyTransfer from">
                        {{> Template.dynamic template = "FormsInputSelect" data = (getDB 1)}}
                    </div>

                    {{#if ownAccounts}}
                    <div class = "row moneyTransfer to">
                        {{> Template.dynamic template = "FormsInputSelect" data = (getDB 2)}}
                    </div>
                    {{else}}
                    <div class = "row moneyTransfer to">
                        {{> Template.dynamic template = "FormsInputBasic" data = (getDB 3)}}
                    </div>
                    {{/if}}

                    <div class = "row moneyTransfer transferAmount">
                        {{> Template.dynamic template = "FormsInputBasic" data = (getDB 4)}}
                    </div>

                    {{#if ownAccounts}}
                    <div class = "row moneyTransfer description">
                        {{> Template.dynamic template = "FormsInputSelect" data = (getDB 5)}}
                    </div>
                    {{else}}
                    <div class = "row moneyTransfer description">
                        {{> Template.dynamic template = "FormsInputBasic" data = (getDB 6)}}
                    </div>
                    {{/if}}

                    {{#if withinBank}}
                    <br>
                    Beneficiary's Bank
                    <br>

                    <div class = "row moneyTransfer branchCode">
                        {{> Template.dynamic template = "FormsInputSelect" data = (getDB 7)}}
                    </div>

                    <div class = "row moneyTransfer bankName">
                        {{> Template.dynamic template = "FormsInputBasic" data = (getDB 8)}}
                    </div>

                    <div class = "row moneyTransfer corrAccount">
                        {{> Template.dynamic template = "FormsInputBasic" data = (getDB 9)}}
                    </div>

                    <div class = "row moneyTransfer swiftCode">
                        {{> Template.dynamic template = "FormsInputBasic" data = (getDB 10)}}
                    </div>
                    {{else}}
                    {{#if internationalPayments}}
                    <br>
                    Beneficiary's Bank
                    <br>

                    <div class = "row moneyTransfer swiftCode">
                        {{> Template.dynamic template = "FormsInputBasic" data = (getDB 10)}}
                    </div>

                    <div class = "row moneyTransfer nameAndAddress">
                        {{> Template.dynamic template = "FormsInputBasic" data = (getDB 11)}}
                    </div>

                    <div class = "row moneyTransfer ctt">
                        {{> Template.dynamic template = "FormsInputSelect" data = (getDB 12)}}
                    </div>

                    <div class = "row moneyTransfer charge">
                        {{> Template.dynamic template = "FormsInputSelect" data = (getDB 13)}}
                    </div>
                    {{/if}}
                    {{/if}}
                </div>
                <div class = "row moneyTransferFoot">
                    {{>ResetForm value = "Reject"}}
                    {{>SubmitForm value = "Send"}}
                </div>
            </form>
        </div>
    </div>
</template>
