.moneyTransfer, .moneyTransferFoot{
    position: relative;
    padding-top: 1%;
    padding-bottom: 2%;
}

.moneyTransferLeftSide, .moneyTransferBody{
    height: 100%;
}

.moneyTransferLeftSide{
    padding-top: 13%;
    max-width: 7%;
}

.from_to_btn{
    position: relative;
    border: none;
    background: white;
    right: 60%
}
