<template name = "LastOperations">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 col-xs-12 control-label">From </label>
            <div class="col-md-6 col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                    <input type="text" class="form-control datepickerfrom Datepicker" name = "DatapickerFrom"  >
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 col-xs-12 control-label">To </label>
            <div class="col-md-6 col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                    <input type="text" class="form-control datepickerto Datepicker" name = "DatapickerTo"  >
                </div>
            </div>
        </div>
    </div>
    {{ > Template.dynamic template = "DataTable" data = (Widget_getComponent "LastOperationsTable")}}
    {{ > Template.dynamic template = "Pagination" data =  (Widget_getComponent "LastTransactionTablePagination")}}
</template>
