<template name = "Navigation">
    <ul class="x-navigation">
        <li class="xn-logo">
            <a href="index.html">ATLANT</a>
            <a href="#" class="x-navigation-control"></a>
        </li>

        <li class="xn-profile">
            <!-- <a href="#" class="profile-mini">
                <img src="assets/images/users/avatar.jpg" alt="John Doe"/>
            </a> -->
            <div class="profile">
                <!-- <div class="profile-image">
                    <img src="assets/images/users/avatar.jpg" alt="John Doe"/>
                </div> -->
                <div class="profile-data">
                    <!-- <div class="profile-data-name">{{AppStorage_get "user.personalData:Name:FullName:${Dictionary.CurrentLanguage}"}}</div> -->
                    <div class="profile-data-name">{{getUserName}}</div>
                    <div class="profile-data-title">{{AppStorage_get "user.personalData:CustomerId"}}</div>
                </div>
                <!-- <div class="profile-controls">
                    <a href="pages-profile.html" class="profile-control-left"><span class="fa fa-info"></span></a>
                    <a href="pages-messages.html" class="profile-control-right"><span class="fa fa-envelope"></span></a>
                </div> -->
            </div>
        </li>

        <!-- <li class="xn-title">Navigation</li> -->

        <li class = "{{#if Router_isCurrentRoute 'dashboard'}} active {{/if}}"><a href="{{pathFor route = 'dashboard'}}">
            <!-- <span class="fa fa-tachometer"></span> -->
            {{ > Icon name = "Dashboard"}}
            <span class="xn-text">{{Dict "DashboardTitle"}}</span>
        </a></li>

        <li class = "{{#if Router_isCurrentRoute 'loans'}} active {{/if}}"><a href="{{pathFor route = 'loans'}}">
            <!-- <span class="fa fa-money"></span> -->
            {{ > Icon name = "Accounting"}}
            <span class="xn-text">{{Dict "LoansTitle"}}</span>
        </a></li>

        <li class = "{{#if Router_isCurrentRoute 'accounts_deposits'}} active {{/if}}"><a href="{{pathFor route = 'accounts_deposits'}}">
            <!-- <span class="fa fa-list-alt"></span> -->
            {{ > Icon name = "MoneyBagFilled"}}
            <!-- <i class="flaticon-007-deposit-box"></i> -->
            <span class="xn-text">{{Dict "DepositsTitle"}}</span>
        </a></li>

        <li class = "{{#if Router_isCurrentRoute 'accounts_current'}} active {{/if}}"><a href="{{pathFor route = 'accounts_current'}}">
            <!-- <span class="fa fa-list-alt"></span> -->
            <!-- <i class="flaticon-011-bank-account"></i> -->
            {{ > Icon name = "Accounts"}}
            <span class="xn-text">{{Dict "CurrentAccountsTitle"}}</span>
        </a>
        <!-- <div class="informer informer-danger">New!</div> -->
        </li>

        <li class = "{{#if Router_isCurrentRoute 'cards'}} active {{/if}}"><a href="{{pathFor route = 'cards'}}">
            <!-- <span class="fa fa-credit-card"></span> -->
            {{ > Icon name = "Cards"}}
            <span class="xn-text">{{Dict "CardsTitle"}}</span></a>
        </li>
    </ul>

    <!-- TODO: dynamic -->
</template>
