<template name = "DonutChart">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Donut Chart</h3>
        </div>
        <div class="panel-body">
            <div id="DonutChart.{{name}}.{{parent}}" style="height: 256px;"></div>
        </div>
    </div>
</template>
