<template name = "FormsInputCheckbox">
    <div class="form-group">
        <label class="col-md-3 col-xs-12 control-label">{{options.title}}</label>
        <div class="col-md-6 col-xs-12">
            <label class="check"><input type="checkbox" name = "{{name}}" id = "input-{{parent}}-{{name}}" class="icheckbox Checkbox"/>{{options.label}}</label>
            <span class="help-block">{{options.help_block}}</span>
        </div>
    </div>
</template>
