<template name = "Wrapper">
    <div class="col-md-{{widgetStyle 'width'}}">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{Utils_untemplateString (Dict (getWidgetTitle widgetName))}}</h3>
                <!-- {{ > Template.dynamic template = (Widget_getTitleControl widgetSettings) data = widgetSettings}} -->
            </div>

            <div class="panel-body">
                {{ > Template.dynamic template = widgetName data = widgetSettings }}
            </div>
        </div>

    </div>

    {{testFetch}}
</template>
