<template name = "FormsInputBasic">
    <div class="form-group">
        {{#if options.titleMode}}
            <label class="col-md-3 col-xs-12 control-label">{{options.title}}</label>
        {{/if}}
        <div class="col-md-{{getColMd}} col-xs-12">
            {{#if options.addonsMode}}

                <div class = "input-group">
                    {{#if options.leftSideAddon}}
                    <span class="input-group-addon">{{options.leftText}}</span>
                    {{/if}}

                    {{#if options.readonlyMode}}
                    <input type="{{options.type}}" readonly = "readonly" class="form-control {{options.class}}" value = "{{options.result}}"/>
                    {{else}}
                    <input type="{{options.type}}" class="form-control {{options.class}}" value = "{{options.result}}"/>
                    {{/if}}

                    {{#if options.rightSideAddon}}
                    <span class="input-group-addon">{{options.rightText}}</span>
                    {{/if}}
                </div>

            {{else}}

                {{#if options.readonlyMode}}
                    <input type="{{options.type}}" name = "{{name}}" class="form-control Basic {{options.class}}" readonly value = "{{options.result}}"/>
                {{else}}
                    <input type="{{options.type}}" name = "{{name}}" class="form-control Basic {{options.class}}" value = "{{options.result}}"/>
                {{/if}}

            {{/if}}
        </div>
    </div>
</template>
