.Basic:read-only{
    background: white;
    color: #555;
}

.control-label{
    position: relative;
    top: 5px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
