<template name = "RangeSliders">
  <div class="panel panel-default">
      <div class="panel-body">
          <h3>Range Slider</h3>
          <form role="form" class="form-horizontal">

              {{#each slider in RangeSliders}}
                {{>Template.dynamic template = "SingleRangeSlider" data = slider}}
              {{/each}}

          </form>
      </div>
  </div>
</template>
