<template name = "MainLayout">
    <!-- START PAGE CONTAINER -->

    <div class="page-container page-navigation-top-fixed">

        <!-- START PAGE SIDEBAR -->
        <div class="page-sidebar">
            <!-- START X-NAVIGATION -->
            {{ > Navigation }}
            <!-- END X-NAVIGATION -->
        </div>
        <!-- END PAGE SIDEBAR -->

        <!-- PAGE CONTENT -->
        <div class="page-content">

            <!-- START X-NAVIGATION VERTICAL -->
                {{ > NavigationVertical }}
            <!-- END X-NAVIGATION VERTICAL -->

            <!-- START BREADCRUMB -->
            <ul class="breadcrumb">
                <!-- <li><a href="#">Link</a></li>
                <li class="active">Active</li> -->
            </ul>
            <!-- END BREADCRUMB -->

            {{ > PageTitle }}

            <!-- {{ #unless isReady }}
                LOADING...
            {{ /unless }} -->

            <!-- PAGE CONTENT WRAPPER -->
            <div class="page-content-wrap">
                {{> yield "currentContainer"}}
            </div>
            <!-- END PAGE CONTENT WRAPPER -->
        </div>
        <!-- END PAGE CONTENT -->
    </div>

    {{ > blankComponent }}
    <!-- END PAGE CONTAINER -->
</template>
