<template name = "Messages">
    <div class="page-container">
        <div class="page-content">
            <div class="content-frame">
                {{>MessagesTopBar}}
                {{>ContactsList}}
                {{>MessagesList}}
            </div>
        </div>
    </div>
</template>
