<template name = "loginPage">
    <div class="login-container">
        <div class="login-box animated fadeInDown">
            <form class="LogIn" autocomplete="off">
                <div class="login-logo"></div>
                <div class="login-body">
                    <div class="login-title"><strong>Welcome</strong>, Please login</div>
                    <input style="display:none" type="text" name="fakeusernameremembered">
                    <input style="display:none" type="password" name="fakepasswordremembered">
                    <div class="form-horizontal" >
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" class="form-control" autocomplete="nope" id="username" placeholder="Username"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="password"  class="form-control" autocomplete="new-password" id="password" placeholder="Password"/>
                            </div>
                        </div>
                        {{#if countEnters}}
                        <div class="form-group">
                            <div class="col-md-12">
                                {{> reCAPTCHA}}
                            </div>
                        </div>
                        {{/if}}
                        <div class="form-group">
                            <div class="col-md-6">
                                <a href="/resetPassword" class="btn btn-link btn-block ">Forgot your password?</a>
                            </div>
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-info btn-block" id="input" value="Log In">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="login-footer">
                <div class="pull-left">
                    &copy; DBS
                </div>
                <!-- <div class="pull-right">
                    <a href="#">About</a> |
                    <a href="#">Privacy</a> |
                    <a href="#">Contact Us</a>
                </div> -->
            </div>
        </div>
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-error">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><strong>Error</strong></div>
                    <div class="mb-content">
                        <p>You entered a wrong login or password.</p>
                        <p>Press Ok to continue.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <button class="btn btn-default btn-lg mb-control-close">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
