<template name = "OtpPage">
    <div class="login-container">
        <div class="login-box animated fadeInDown">
            <form class="OtpOk">
                <div class="login-logo"></div>
                <div class="login-body">
                    <div class="login-title">We'll send you otp key</div>
                    <div class="form-horizontal" >
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="otp" placeholder="Enter otp key"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <input type="button" class="btn btn-info btn-block" id="SendAgain" value = "Send again">
                            </div>
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-info btn-block" value = "Ok">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="login-footer">
                <div class="pull-left">
                    &copy; DBS
                </div>
                <!-- <div class="pull-right">
                    <a href="#">About</a> |
                    <a href="#">Privacy</a> |
                    <a href="#">Contact Us</a>
                </div> -->
            </div>
        </div>

        <div class="message-box animated fadeIn" data-sound="alert" id="mb-error">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><strong>Error</strong></div>
                    <div class="mb-content">
                        <p>You entered a wrong Otp.</p>
                        <p>Press Ok to continue.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <button class="btn btn-default btn-lg mb-control-close">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
