<template name = "ContactsList">
    <div class="content-frame-right">

        <div class="list-group list-group-contacts border-bottom push-down-10">
            {{>SingleContact
                status = 'online'
                sender = 'Dmitry Ivaniuk'
                message = 'Hello my friend, how are...'
            }}
            {{>SingleContact
                status = 'online'
                sender = 'Nadia Ali'
                message = 'Wanna se my photos?'
            }}
            {{>SingleContact
                add_class = 'active'
                status = 'online'
                sender = 'John Doe'
                message = 'This project is awesome'
            }}
            {{>SingleContact
                status = 'away'
                sender = 'Brad Pitt'
                message = 'ok'
            }}
            {{>SingleContact
                status = 'offline'
                sender = 'Darth Vader'
                message = 'We should win this war!!!1'
            }}
            {{>SingleContact
                status = 'offline'
                sender = 'Kim Kardashian'
                message = 'You received a letter from Darth?'
            }}
            {{>SingleContact
                status = 'offline'
                sender = 'Jason Statham'
                message = 'Lets play chess...'
            }}
        </div>

        <div class="block">
            <h4>Status</h4>
            <div class="list-group list-group-simple">
                <a href="#" class="list-group-item"><span class="fa fa-circle text-success"></span> Online</a>
                <a href="#" class="list-group-item"><span class="fa fa-circle text-warning"></span> Away</a>
                <a href="#" class="list-group-item"><span class="fa fa-circle text-muted"></span> Offline</a>
            </div>
        </div>

    </div>

</template>
