<template name = "Forms">
    <div class="page-content-wrap">
        <div class = "row">
            <div class = "col-md-12">
                <form class = "form-horizontal" id = "someid">
                    <div class = "panel panel-default">
                        <div class = "panel-body">
                            {{#each template in templateList}}
                                <p>Started new template</p>
                                {{>Template.dynamic template = template.type data = template}}
                            {{/each}}
                        </div>
                        <div class="panel-footer">
                            {{>ResetForm}}
                            {{>SubmitForm}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
