<template name = "MessagesList">
    <div class="content-frame-body content-frame-body-left">

        <div class="messages messages-img">
            {{>SingleMessage
                class = 'item in'
                img_src = 'users/avatar.jpg'
                sender = 'John Doe'
                date = '08:33'
                message = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis suscipit eros vitae iaculis.'
            }}
            {{>SingleMessage
                class = 'item'
                img_src = 'users/avatar.jpg'
                sender = 'Dmitry Ivaniuk'
                date = '08:39'
                message = 'Integer et ipsum vitae urna mattis dictum. Sed eu sollicitudin nibh, in luctus velit.'
            }}
            {{>SingleMessage
                class = 'item'
                img_src = 'users/avatar.jpg'
                sender = 'Dmitry Ivaniuk'
                date = '08:42'
                message = 'In dapibus ex ut nisl laoreet aliquam. Donec in mollis leo. Aenean nec suscipit neque, non iaculis justo. Quisque eget odio efficitur, porta risus vitae, sagittis neque.'
            }}
            {{>SingleMessage
                class = 'item in'
                img_src = 'users/avatar.jpg'
                sender = 'John Doe'
                date = '08:58'
                message = 'Curabitur et euismod urna?'
            }}
            {{>SingleMessage
                class = 'item'
                img_src = 'users/avatar.jpg'
                sender = 'Dmitry Ivaniuk'
                date = '09:11'
                message = 'Fusce ultricies erat quis massa interdum, eu elementum urna iaculis'
            }}
            {{>SingleMessage
                class = 'item in'
                img_src = 'users/avatar.jpg'
                sender = 'John Doe'
                date = '09:22'
                message = 'Vestibulum cursus ipsum ut dolor vulputate dapibus. Donec elementum est vel vulputate malesuada?'
            }}
        </div>

        <div class="panel panel-default push-up-10">
            <div class="panel-body panel-body-search">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-default"><span class="fa fa-camera"></span></button>
                        <button class="btn btn-default"><span class="fa fa-chain"></span></button>
                    </div>
                    <input type="text" class="form-control" placeholder="Your message..."/>
                    <div class="input-group-btn">
                        <button class="btn btn-default">Send</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
