<template name = "FormsInputFileInput">
    <div class="form-group">
        <label class="col-md-3 col-xs-12 control-label">{{options.title}}</label>
        <div class="col-md-6 col-xs-12">
            <input type="file" class="fileinput btn-primary Fileinput" name = "{{name}}" id="filename" title="Browse file"/>
            <span class="help-block">{{options.help_block}}</span>
        </div>
    </div>
</template>
