<template name = "Dashboard">
    <div class = "row">
        {{#each miniWidgets}}
            {{> Template.dynamic template = 'WrapperMini' data = widget }}
        {{/each}}
    </div>

    {{#each row in rows}}
        <div class = "row">
            {{#each widget in row}}
                {{ > Template.dynamic template = 'Wrapper' data = widget}}
            {{/each}}
        </div>
    {{/each}}
</template>
