<template name = "WrapperMini">
    <div class="col-md-3">
        <div class="widget widget-default widget-item-icon">
            {{ > Template.dynamic template = widgetName data = widgetSettings }}
            <!-- <div class="widget-item-left">
                <span class="fa fa-envelope"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count">48</div>
                <div class="widget-title">New messages</div>
                <div class="widget-subtitle">In your mailbox</div>
            </div>
            <div class="widget-controls">
                <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
            </div> -->
        </div>
    </div>
</template>
