<template name = "SingleKnobSlider">
    <div class="col-md-4 text-center">
        <h5>{{options.name}}</h5>
        <input
            class = "{{options.class}}"
            data-width = "{{options.data_width}}"
            data-cursor = "{{options.data_cursor}}"
            data-min = "{{options.data_min}}"
            data-max = "{{options.data_max}}"
            data-step = "{{options.data_step}}"
            data-fgColor = "{{options.data_fgColor}}"
            data-angleOffset = "{{options.data_angleOffset}}"
            data-linecap = "{{options.data_linecap}}"
            data-displayPrevious = "{{options.data_displayPrevious}}"
            data-displayInput = {{options.data_displayInput}}
            value = "{{options.value}}"
        />
    </div>
</template>
