<template name="AccountStatement">
        <div class="col-md-4">
            {{ > Template.dynamic template = "FormsInputBasic" data  = (Widget_getComponent "Search")}}
        </div>
        {{ > Template.dynamic template = "DataTable" data =  (Widget_getComponent "CurrentStatementTable")}}
        {{ > Template.dynamic template = "Pagination" data =  (Widget_getComponent "StatementTablePagination")}}
</template>
