<template name = "DataTable">

    <div class="panel panel-default dataTable">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table datatable">
                    <thead>
                        <tr>
                            {{#each titleInfo}}
                                {{#if isAction type}}
                                    <th id = "{{value}}" ></th>
                                {{else}}
                                    <th class = "sort_btn sorting" id = "{{value}}" >
                                        {{title}}
                                    </th>
                                {{/if}}
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each doc in columns}}
                                <tr class="DataTableRow">
                                  {{#each col in titleInfo}}

                                            <td id = "{{IsId col}}">
                                              {{#if isDataCol col}}
                                                  {{{getProp doc col}}}
                                              {{else}}
                                                    {{#if hasData doc}}
                                                        {{ > Template.dynamic template = col.type data= doc}}
                                                    {{/if}}
                                              {{/if}}
                                      </td>
                                      {{MainLayout_loaded}}
                                  {{/each}}
                              </tr>
                        {{/each}}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{{MainLayout_loaded}}

</template>
