<template name = "MessagesTopBar">
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-comments"></span> Messages</h2>
        </div>
        <div class="pull-right">
            <button class="btn btn-default content-frame-right-toggle"><span class="fa fa-bars"></span></button>
        </div>
    </div>
</template>
