<template name = "SimpleTable">
  <div class="table-responsive">
    <!-- .table-bordered Добавить гарницы-->
    <!-- .table-striped полосатая таблица-->
    <!-- .table-hover эффект наведения  -->
    <!-- .table-condensed умёеньшение строк-->
      <table class="table">
          <thead>
              <tr>
                  {{#each titleInfo}}
                  <th >{{title}}</th>
                  {{/each}}
              </tr>
          </thead>
          <!-- active, success, info, warning, danger изменяет цвет строки -->
          <tbody>

              {{#each doc in columns}}
              <tr class = "{{getClass doc}}">
                {{#each col in getTitle}}

                    <td  >{{#if isDataCol col}}
                            {{getProp doc col}}
                        {{else}}
                            {{>Template.dynamic template=col.value data = col.options}}
                        {{/if}}
                    </td>
                {{/each}}
            </tr>

                {{MainLayout_loaded}}
              {{/each}}
          </tbody>

          {{setReady}}
      </table>
  </div>
</template>
