<template name = "CardsInfo">

    <div class="col-md-8 col-xs-12">
        {{ > Template.dynamic template = "DataTable" data =  (Widget_getComponent "CardInfo")}}
        {{ > Template.dynamic template = "Pagination" data =  (Widget_getComponent "CardsTablePagination")}}
    </div>
    <div class="col-md-4">
        {{ > Template.dynamic template = "InfoTable" data =  (Widget_getComponent "CardsInfoTable")}}
    </div>
</template>
